[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

ffmpeg-python = {version=“*”}
pytube = {version=“*”}
PyDrive = {version=“*”}
Flask = {version=“*”}


[requires]

python_version = "3.6"
